<nav class="navbar fixed-bottom navbar-light bg-light">

  <a class="navbar-brand" href="/">LOGIN</a>

  <div class="navbar-expand" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/profile">
          <i class="fa fa-user" aria-label="edit profile icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/home">
          <i class="fa fa-home center" aria-label="home icon"></i>
        </a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link" href="/messages">
          <i class="fa fa-comment right" aria-label="messages icon"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
