<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="/">LOGIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/profile">
          <i class="fa fa-user" aria-label="edit profile icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <i class="fa fa-home" aria-label="home icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/messages">
          <i class="fa fa-comment" aria-label="messages icon"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
