@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root
{
  /* CSS HEX */
--baby-blue-eyes: #b7d3f2ff;
--maximum-blue-purple: #afafdcff;
--medium-purple: #8a84e2ff;
--french-sky-blue: #84afe6ff;
--aero: #79beeeff;

}

/* Additional styles go here */
header {
  padding: 0 0.25rem;
  margin-bottom: 2rem;
}



body{
  background-color: var(--medium-purple);
  font-family: 'Rubik', sans-serif;

}

nav{
  background-color: var(--baby-blue-eyes);
}


.tag-container {
  border: 1px solid black;
}
.tag-container span {
  background-color: lightblue;
  border: 1px solid blue;
  padding-left: 1em;
  margin-right: 1em;
}
.tag-container span button {
  margin-left: 1em;
}
.tag-container input:focus, .tag-container input {
  outline: none;
  border: 0;
}

/* Bootstrap Fix */
.row {
  padding: 0 1.25rem;
}



