
  <%- include('../partials/head'); %>

<header>
  <%- include('../partials/nav'); %>
</header>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>Edit Profile</h1>
        <form action="/profile" method="post">
          <input type="text" id="name" name="name" placeholder="Name"><br><br>
          <input type="text" id="age" name="age" placeholder="Age"><br><br>
          <input type="text" id="school" name="school" placeholder="School"><br><br>
          <div class="tag-container">
            <input id="interest" name="interest" placeholder="Interest(s)"></input>
          </div><br><br><br><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</main>

<script>
  const input = document.getElementById("interest");
  input.addEventListener('keydown', (event) => {
    if (event.keyCode === 32) {
      const span = input.insertAdjacentElement('beforebegin', document.createElement('span'));
      span.textContent = input.value;
      const x = span.appendChild(document.createElement('button'));
      x.textContent = 'x';
      x.onclick = () => span.remove();
      input.value = '';
    }
  });
</script>

  <%- include('../partials/footer'); %>
